<a href="https://colab.research.google.com/github/ssood/ESG/blob/main/ESG_scores_from_Yahoo_Finance_(Sustainalytics).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ESG scores from Yahoo Finance (Sustainalytics)

This  notebook looks at the ESG scores of the stocks present in prominent country indices of USA, UK, Japan and Australia. The sustainability data is available for free from Yahoo! Finance. Using the Python yfinance library we can download historical market data from Yahoo! finance. Yahoo! Finance obtains the ESG scores from Sustainalytics, a Morningstar Company. Visualisation of ESG scores uses the Altair statistical visualization library.

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.9-py2.py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.9/55.9 KB 2.1 MB/s eta 0:00:00
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 4.5 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 7.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 8.0 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 11.1 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 20.8 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.3.2.post1 yfinance-0.2.9

In [ ]:
import pandas as pd
import numpy as np
import altair as alt
import openpyxl #reads .xlsx files
import yfinance as yf
from IPython.display import display, HTML

## Read in the key index components from the website topforeignstocks.com
### See https://topforeignstocks.com/
######FTSE 100 holdings (United Kingdom)
######ASX holdings (Australia)
######Nikkei 225 holdings (Japan)
######S&P 500 (United States of America)

##Using openpyxl library to read/write Excel 2010 xlsx/xlsm/xltx/xltm files

In [ ]:
#FTSE 100 holdings (United Kingdom)
dfuk = pd.read_excel('https://topforeignstocks.com/wp-content/uploads/2022/01/Complete-List-of-UK-FTSE-100-Index-Constituents-Jan-23-2022.xlsx', engine='openpyxl')

#ASX holdings (Australia)
dfaus = pd.read_excel('https://topforeignstocks.com/wp-content/uploads/2022/01/Complete-List-of-Australia-ASX-200-Index-Constituents-Jan-23-2022.xlsx', engine='openpyxl')
#Nikkei 225 holdings (Japan)
dfjapan = pd.read_excel('https://topforeignstocks.com/wp-content/uploads/2021/02/Japan-Nikkei-225-Index-Constituents-Jan-1-2021.xlsx', engine='openpyxl')

#S&P 500  (United States of America)
dfusa = pd.read_excel('https://topforeignstocks.com/wp-content/uploads/2022/07/Complete-List-of-SP-500-Constituents-July-4-2022.xlsx',engine='openpyxl')

In [ ]:
dfuk.head() #show the first five rows of the dataframe

   S.No.          Company Name Ticker                               Sector
0      1          3i Group Plc    III  Private Equity and Venture Capital
1      2             Abrdn plc   ABDN                        Asset Manager
2      3         Admiral Group    ADM                            Insurance
3      4        Anglo American    AAL                      Metals & Mining
4      5  Antofagasta Holdings   ANTO                      Metals & Mining

In [ ]:
dfaus.head()  #show the first five rows of the dataframe

   S.No.           Company Name Code
0      1  Abacus Property Group  ABP
1      2           Afterpay Ltd  APT
2      3         AGL Energy Ltd  AGL
3      4             Allkem Ltd  AKE
4      5                Als Ltd  ALQ

In [ ]:
dfjapan.head() #show the first five rows of the dataframe

,S.No.,Company Name,Code,Nikkei Industrial Classification,Sector,Weight
0,1,ADVANTEST CORP.,6857,Electric Machinery,Technology,0.021583
1,2,"AEON CO., LTD.",8267,Retail,Consumer Goods,0.004265
2,3,AGC INC.,5201,Glass & Ceramics,Materials,0.000945
3,4,"AJINOMOTO CO., INC.",2802,Foods,Consumer Goods,0.003219
4,5,"ALPS ALPINE CO., LTD.",6770,Electric Machinery,Technology,0.001817

In [ ]:
dfusa.head()  #show the first five rows of the dataframe

   S.No.                   Name Ticker                  Sector
0      1             Apple Inc.   AAPL  Information Technology
1      2  Microsoft Corporation   MSFT  Information Technology
2      3        Amazon.com Inc.   AMZN  Consumer Discretionary
3      4  Alphabet Inc. Class A  GOOGL  Communication Services
4      5  Alphabet Inc. Class C   GOOG  Communication Services

In [ ]:
dfAus = dfaus.rename(columns={"Code": "Ticker"})
dfJapan = dfjapan.rename(columns={"Code": "Ticker"})

In [ ]:
print (dfAus)

     S.No.           Company Name Ticker
0        1  Abacus Property Group    ABP
1        2           Afterpay Ltd    APT
2        3         AGL Energy Ltd    AGL
3        4             Allkem Ltd    AKE
4        5                Als Ltd    ALQ
..     ...                    ...    ...
195    196             Worley Ltd    WOR
196    197               Xero Ltd    XRO
197    198  Yancoal Australia Ltd    YAL
198    199  Zimplats Holdings Ltd    ZIM
199    200             ZIP Co Ltd    Z1P

[200 rows x 3 columns]

In [ ]:
print (dfJapan)

     S.No.               Company Name  Ticker  \
0        1            ADVANTEST CORP.    6857
1        2             AEON CO., LTD.    8267
2        3                   AGC INC.    5201
3        4        AJINOMOTO CO., INC.    2802
4        5      ALPS ALPINE CO., LTD.    6770
..     ...                        ...     ...
220    221     YAMAHA MOTOR CO., LTD.    7272
221    222  YAMATO HOLDINGS CO., LTD.    9064
222    223     YASKAWA ELECTRIC CORP.    6506
223    224    YOKOGAWA ELECTRIC CORP.    6841
224    225           Z HOLDINGS CORP.    4689

    Nikkei Industrial Classification                        Sector    Weight
0                 Electric Machinery                    Technology  0.021583
1                             Retail                Consumer Goods  0.004265
2                   Glass & Ceramics                     Materials  0.000945
3                              Foods                Consumer Goods  0.003219
4                 Electric Machinery                    Technology  0.001817
..                               ...                           ...       ...
220         Automobiles & Auto parts                    Technology  0.002994
221                   Land Transport  Transportation and Utilities  0.003386
222               Electric Machinery                    Technology  0.006977
223               Electric Machinery                    Technology  0.002935
224                         Services                Consumer Goods  0.000339

[225 rows x 6 columns]

In [ ]:
#To allow Yahoo Finance to find the tickers, we need to modify the ticker codes in the UK, Germany, Japan and Australia dataframes.
#UK tickers need to have '.L', Japan tickers need to have '.T', and Australia tickers need to have '.AX' added at the end.

dfuk['Ticker'] = dfuk['Ticker'].astype(str) + '.L'
dfJapan['Ticker'] = dfJapan['Ticker'].astype(str) + '.T'
dfAus['Ticker'] = dfAus['Ticker'].astype(str) + '.AX'

In [ ]:
print (dfAus)

     S.No.           Company Name  Ticker
0        1  Abacus Property Group  ABP.AX
1        2           Afterpay Ltd  APT.AX
2        3         AGL Energy Ltd  AGL.AX
3        4             Allkem Ltd  AKE.AX
4        5                Als Ltd  ALQ.AX
..     ...                    ...     ...
195    196             Worley Ltd  WOR.AX
196    197               Xero Ltd  XRO.AX
197    198  Yancoal Australia Ltd  YAL.AX
198    199  Zimplats Holdings Ltd  ZIM.AX
199    200             ZIP Co Ltd  Z1P.AX

[200 rows x 3 columns]

In [ ]:
dfuk.head()

   S.No.          Company Name  Ticker                               Sector
0      1          3i Group Plc   III.L  Private Equity and Venture Capital
1      2             Abrdn plc  ABDN.L                        Asset Manager
2      3         Admiral Group   ADM.L                            Insurance
3      4        Anglo American   AAL.L                      Metals & Mining
4      5  Antofagasta Holdings  ANTO.L                      Metals & Mining

In [ ]:
dfAus.head(10) #show the first ten rows of the dfaus dataframe

   S.No.           Company Name  Ticker
0      1  Abacus Property Group  ABP.AX
1      2           Afterpay Ltd  APT.AX
2      3         AGL Energy Ltd  AGL.AX
3      4             Allkem Ltd  AKE.AX
4      5                Als Ltd  ALQ.AX
5      6             Altium Ltd  ALU.AX
6      7            Alumina Ltd  AWC.AX
7      8              Amcor Plc  AMC.AX
8      9                AMP Ltd  AMP.AX
9     10              Ampol Ltd  ALD.AX

In [ ]:
dfJapan.head()

,S.No.,Company Name,Ticker,Nikkei Industrial Classification,Sector,Weight
0,1,ADVANTEST CORP.,6857.T,Electric Machinery,Technology,0.021583
1,2,"AEON CO., LTD.",8267.T,Retail,Consumer Goods,0.004265
2,3,AGC INC.,5201.T,Glass & Ceramics,Materials,0.000945
3,4,"AJINOMOTO CO., INC.",2802.T,Foods,Consumer Goods,0.003219
4,5,"ALPS ALPINE CO., LTD.",6770.T,Electric Machinery,Technology,0.001817

In [ ]:
dfJapan = dfJapan.drop('Sector',1) # drop the Sector column as it isn't there for the other country stock lists.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
dfJapan.head()

,S.No.,Company Name,Ticker,Nikkei Industrial Classification,Weight
0,1,ADVANTEST CORP.,6857.T,Electric Machinery,0.021583
1,2,"AEON CO., LTD.",8267.T,Retail,0.004265
2,3,AGC INC.,5201.T,Glass & Ceramics,0.000945
3,4,"AJINOMOTO CO., INC.",2802.T,Foods,0.003219
4,5,"ALPS ALPINE CO., LTD.",6770.T,Electric Machinery,0.001817

## Environment, Social and Governance Scores from Sustainalytics
### The following is taken from Yahoo! Finance.
"Sustainalytics’ ESG risk ratings assess the degree to which a company’s enterprise business value is at risk driven by environmental, social and governance issues. The rating employs a two-dimensional framework that combines an assessment of a company’s exposure to industry-specific material ESG issues with an assessment of how well the company is managing those issues. The final ESG risk rating scores are a measure of **unmanaged risk on an absolute scale of 0-100, with a lower score signalling less unmanaged ESG risk**."

## Controversy Level from Sustainalytics
### The following is taken from Yahoo! Finance.
"Sustainalytics’ controversies research identifies companies involved in incidents and events that may negatively affect stakeholders, the environment or the company’s operations. Controversies are rated on a scale from one to five, with **five denoting the most serious controversies with the largest potential impact.**"

In [ ]:
msft="MSFT"
msft_y = yf.Ticker(msft)
esg_data = pd.DataFrame.transpose(msft_y.sustainability)
display (esg_data)

2022-8,palmOil,controversialWeapons,gambling,socialScore,nuclear,furLeather,alcoholic,gmo,catholic,socialPercentile,...,esgPerformance,coal,pesticides,adult,percentile,peerGroup,smallArms,environmentScore,governancePercentile,militaryContract
Value,False,False,False,8.39,False,False,False,False,False,None,...,UNDER_PERF,False,False,False,10.73,Software & Services,False,1.53,None,False

In [ ]:
#We will define functions to obtain the environmental, social, governance and total ESG scores of a stock from its ticker

def env(ticker):
    if yf.Ticker(ticker).sustainability is not None:
        return yf.Ticker(ticker).sustainability.loc['environmentScore','Value']
    else:
        return np.NaN

def social(ticker):
    if yf.Ticker(ticker).sustainability is not None:
        return yf.Ticker(ticker).sustainability.loc['socialScore','Value']
    else:
        return np.NaN

def gov(ticker):
    if yf.Ticker(ticker).sustainability is not None:
        return yf.Ticker(ticker).sustainability.loc['governanceScore','Value']
    else:
        return np.NaN

def total(ticker):
    if yf.Ticker(ticker).sustainability is not None:
        return yf.Ticker(ticker).sustainability.loc['totalEsg','Value']
    else:
        return np.NaN

def percentile(ticker):
    if yf.Ticker(ticker).sustainability is not None:
        return yf.Ticker(ticker).sustainability.loc['percentile', 'Value']
    else:
        return np.Nan

def contro(ticker):
    if yf.Ticker(ticker).sustainability is not None:
        return yf.Ticker(ticker).sustainability.loc['highestControversy','Value']
    else:
        return np.NaN

In [ ]:
# We will define a function that combines these scores into a dataframe

def scores(ticker):
    return pd.DataFrame([[ticker,yf.Ticker(ticker).info['longName'],env(ticker),social(ticker),gov(ticker),total(ticker),percentile(ticker),contro(ticker)]],columns=['Ticker','Name','Environmental','Social','Governance','Total ESG','Percentile','Controversy Level'])

## Choose the country to see the list of companies and tickers in the index

In [ ]:
from IPython.core.error import UsageError
#Country = 'Japan'
#Country = 'UK'
#Country = 'USA'
Country = 'Aus'

In [ ]:
# Choose the appropriate dataframe of companies and tickers according to the country chose above

if Country == 'UK':
    display(HTML(dfuk.to_html()))
elif Country == 'USA':
    display(HTML(dfusa.to_html()))
elif Country == 'Japan':
    display(HTML(dfJapan.to_html()))
elif Country == 'Aus':
    display(HTML(dfAus.to_html()))

## Type in a ticker from any of the lists above
(Please note that the input cell is free text, so you can type in **any** ticker from **any** global index on Yahoo! Finance. The above country stock lists are for ease of reference to look up the exact ticker.)

In [ ]:
#Ticker_code = '6758.T'
#Ticker_code = 'WPP.L'
#Ticker_code = 'VOD.L'
#Ticker_code = 'WBC.AX'
#Ticker_code = 'KO'
Ticker_code = 'ICHGF'

### Run the following cell to obtain the ESG scores -- it will take several seconds to run!

In [ ]:
# We will display the dataframe containing the ESG scores

tkr = Ticker_code
df = scores(tkr)
display(HTML(df.to_html()))

## Visualise these scores using the Altair statistical visualization library for Python

Run the cell below to see visualisations for these ESG scores. If you do not see the charts, clear the cell output and run the cell again.

In [ ]:
chart1 = alt.Chart(df).mark_bar().encode(
    alt.Y('Ticker:N'),
    alt.X('Total ESG:Q',
        scale=alt.Scale(domain=(0,100))
    ),
    color=alt.Color('Total ESG:Q', scale=alt.Scale(domain = (0,100), scheme='yellowgreenblue')),
    tooltip = [alt.Tooltip('Name:N'),
               alt.Tooltip('Total ESG:Q')
              ]
).interactive()

chart2 = alt.Chart(df).mark_bar().encode(
    alt.X('Percentile:Q',
        scale=alt.Scale(domain=(0,100))
    ),
    alt.Y('Ticker:N'),
    color=alt.Color('Percentile:Q', scale=alt.Scale(domain = (0,100), scheme='yellowgreenblue')),
    tooltip = [alt.Tooltip('Name:N'),
               alt.Tooltip('Percentile:Q')
              ]
).interactive()

chart3 = alt.Chart(df).mark_bar().encode(
    alt.Y('Ticker:N'),
    alt.X('Controversy Level:Q',
        scale=alt.Scale(domain=(0,5))
    ),
    color=alt.Color('Controversy Level:Q', scale=alt.Scale(domain = (0,5), scheme='yellowgreenblue')),
    tooltip = [alt.Tooltip('Name:N'),
               alt.Tooltip('Controversy Level:Q')
              ]
).interactive()

dfesg = df[['Ticker', 'Name','Environmental', 'Social', 'Governance']].copy()

chart4 = alt.Chart(dfesg,title=dfesg['Name'][0]).transform_fold(
    ['Environmental', 'Social', 'Governance'],
    as_=['Attribute', 'Scores']).mark_bar().encode(
    alt.Y('Ticker:N'),
    alt.X('Scores:Q'),
    color='Attribute:N',
    tooltip = [alt.Tooltip('Name:N'),
               alt.Tooltip('Attribute:N'),
               alt.Tooltip('Scores:Q')
              ]
    ).interactive()

alt.vconcat(chart4, chart1, chart2, chart3)

alt.VConcatChart(...)